<script>
    // Function to handle enabling/disabling buttons based on quantity range
    function handleEnableDisable(itemId, size) {
        var currentValue;
        var allQuantityInputs;
        
        // Determine the current quantity value based on whether size is provided
        if (size) {
            currentValue = parseInt($('.size_' + itemId + '_' + size).val());
        } else {
            currentValue = parseInt($('.id_qty_' + itemId).val());
        }

        // Determine if the decrement button should be disabled (current value < 2)
        // and if the increment button should be disabled (current value > 4)
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;

        // Enable/disable decrement/increment buttons based on the current quantity
        if (size) {
            $('.decrement-size_' + itemId + '_' + size).prop('disabled', minusDisabled);
            $('.increment-size_' + itemId + '_' + size).prop('disabled', plusDisabled);
        } else {
            $('.decrement-qty_' + itemId).prop('disabled', minusDisabled);
            $('.increment-qty_' + itemId).prop('disabled', plusDisabled);
        }

        // Determine all quantity inputs based on whether size is provided
        if (size) {
            allQuantityInputs = $('.input-group-' + itemId + ' input[data-size="' + size + '"]');
        } else {
            allQuantityInputs = $('.input-group-' + itemId + ' input[name="quantity"]');
        }
    }

    // Handle enabling/disabling buttons for all quantity inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        var size = $(allQtyInputs[i]).data('size');
        handleEnableDisable(itemId, size);
    }

    // Event listener to handle enabling/disabling buttons when quantity input changes
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        handleEnableDisable(itemId, size);
    });

    // Event listener to increment quantity when "+" button is clicked
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var allQuantityInputs;
        if (size) {
            allQuantityInputs = $('.input-group-' + itemId + ' input[data-size="' + size + '"]');
        } else {
            allQuantityInputs = $('.input-group-' + itemId + ' input[name="quantity"]');
        }
        var currentValue = parseInt($(closestInput).val());
        $(allQuantityInputs).val(currentValue + 1);
        handleEnableDisable(itemId, size);
    });

    // Event listener to decrement quantity when "-" button is clicked
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var allQuantityInputs;
        if (size) {
            allQuantityInputs = $('.input-group-' + itemId + ' input[data-size="' + size + '"]');
        } else {
            allQuantityInputs = $('.input-group-' + itemId + ' input[name="quantity"]');
        }
        var currentValue = parseInt($(closestInput).val());
        $(allQuantityInputs).val(currentValue - 1);
        handleEnableDisable(itemId, size);
    });
</script>