<!--Inspired By Boutiqe Ado project-->
{% extends "base.html" %}

{% load static %}

{% block page_header %}

<!--First Page View-->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="logo-font h2">Reviews</h1>
            <hr>
        </div>
    </div>

    {% if reviews %}

    {% for review in reviews %}

    <div class="card mb-3 mb-3 border-dark ">
        <div class="row g-0">
            <div class="col-md-4">

                {% if review.product.image %}

                <img class="card-img-top img-fluid" style="object-fit: cover;" src="{{ review.product.image.url }}"
                    alt="{{ review.product.name }}">

                {% else %}

                <img class="card-img-top img-fluid" style="object-fit: cover;" src="{{ MEDIA_URL }}noimage.png"
                    alt="{{ review.product.name }}">

                {% endif %}

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"> {{ review.product }}</p>
                    <hr>
                    <p class="card-text mb-2"><small>Comment:</small> {{ review.comment }}</p>
                    <p class="card-text">Rating: {{ review.rating }}</p>
                    <hr>
                    <h2 class="card-title h3 text-muted"><small>- {{ review.user }}</small></h2>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    {% else %}

    <p class="card-text">No reviews yet....</p>

    {% endif %}

</div>

{% endblock %}