/* General settings */
body {
    background: url('/media/home.jpg') no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: 'Lato';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-section {
    flex: 1;
}

.navbar-light .navbar-toggler {
    border-color: rgb(255, 255, 255);
}

/* Search input styles */
.search-input::placeholder,
.search-input:-ms-input-placeholder,
.search-input::-ms-input-placeholder {
    color: #fff;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
}

/* Product styles */
div.on-sale {
    background-color: red;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    font-size: larger;
}

.rea {
    text-decoration: line-through;
}

/* Navbar styles */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
    font-family: "Kode Mono", monospace;
}

/* Review */

.review-box {
    height: 100%;
    color: white;
    width: 100%;
}

.comment-box {
    width: 100%;
    background-color: #6c757d;
    padding: 6px;
    border-radius: 10px;
    margin: 3px 0;
}

.review-line-hr {
    border-color: #fff;
}

.frame-review {
    border: 5px solid #6c757d;
}

/* Button styles */
.shop-now-button,
.btn-black {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Form input styles */
input[name='q']::placeholder,
.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* Bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/* Contact form */
.contact-form {
    padding: 0;
}

/* Media Queries */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner p {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-secondary.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-secondary.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (max-width: 336px) {

    .btn.btn-outline-black.rounded-0.product-btn,
    .btn.btn-secondary.rounded-0.product-btn {
        padding: .150rem .124rem;
    }
}